{% extends 'common/index.html' %}
{% load static %}
{% block content %}
<style>
    .card {
        background-color: #dbe2efc4;
    }
    .card-header {
        background-color: #3F72AF;
    }
    .btn {
        background-color: #F9F7F7;
        color: #112D4E;
    }
    .btn:hover {
        background-color: #F9F7F7;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    }
    .app-container {
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: url('https://raw.githubusercontent.com/leonado10000/SchoolMate/refs/heads/master/static/wave_bg.gif');
    }
</style>
<div class="container">
    <div class="row g-4">
        {% for class in classes %}
            <div class="col-6 col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header text-white">
                        <h5 class="mb-0">Class {{ class.current_class }}</h5>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'marksheet_view' 'new' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="term" value="1">
                            <input type="hidden" name="batch" value="{{ class.batch_id }}">
                            <button class="btn w-100">Term 1</button>
                        </form>
                        <form action="{% url 'marksheet_view' 'new' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="term" value="2">
                            <input type="hidden" name="batch" value="{{ class.batch_id }}">
                            <button class="btn w-100">Term 2</button>
                        </form>
                        <form action="{% url 'marksheet_view' 'new' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="term" value="3">
                            <input type="hidden" name="batch" value="{{ class.batch_id }}">
                            <button class="btn w-100">Term 3</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
